*{
    padding: 0px;
    margin: 0px;
}
ul, ol{
    list-style: none;
}
.botones li a{
    background-color: rgb(98, 101, 228);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}
.menu{
    margin: auto;
    width: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 60px;
}
.botones > li{
    float: left  ;
}
.menu li:hover > ul{
    display: block;
}
.botones li a:hover {
    background-color: rgb(132, 173, 248);
}
.menu li ul{
position: absolute;
min-width: 140px;
display: none;
}
.encabezado{
    width: 100%;
    height: 150px;
    text-align: center;
    color:  rgb(133, 133, 133);
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
